@model DigitalMarketing2.Models.Lesson
@{
    ViewData["Title"] = "Details";
}

@section Links {
    <link rel="stylesheet" href="~/css/lesson.css" asp-append-version="true">
}

<div class="row">
<section class="lesson-details-page min-vh-100 m-auto py-5 pt-10vh col-white col-md-8 col-10">
  <div class="container pt-5">

    <div class="d-flex mt-md-5 mt-3">
        <a asp-controller="Modules" asp-action="Details" asp-route-id="@Model.Module.ModuleId">
        <svg class="back-svg flex-center" height="64px" width="32px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26.676 26.676" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M26.105,21.891c-0.229,0-0.439-0.131-0.529-0.346l0,0c-0.066-0.156-1.716-3.857-7.885-4.59 c-1.285-0.156-2.824-0.236-4.693-0.25v4.613c0,0.213-0.115,0.406-0.304,0.508c-0.188,0.098-0.413,0.084-0.588-0.033L0.254,13.815 C0.094,13.708,0,13.528,0,13.339c0-0.191,0.094-0.365,0.254-0.477l11.857-7.979c0.175-0.121,0.398-0.129,0.588-0.029 c0.19,0.102,0.303,0.295,0.303,0.502v4.293c2.578,0.336,13.674,2.33,13.674,11.674c0,0.271-0.191,0.508-0.459,0.562 C26.18,21.891,26.141,21.891,26.105,21.891z"></path> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </g> </g></svg>
        </a>  
        <h1 class="flex-center ms-3 mb-0">@Model.Name</h1>
    </div>
    @* <h1>@Model.Name</h1> *@

    @if (this.User.IsInRole("Admin"))
    {
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.LessonId)
            </dt>
                <dd class="col-sm-7 text-justify">
                @Html.DisplayFor(model => model.LessonId)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-7 text-justify">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
                <dd class="col-sm-7 text-justify">
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.LessonOrder)
            </dt>
                <dd class="col-sm-7 text-justify">
                @Html.DisplayFor(model => model.LessonOrder)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Module.ModuleId)
            </dt>
                <dd class="col-sm-7 text-justify">
                @Html.DisplayFor(model => model.Module.ModuleId)
            </dd>
        </dl>
    </div>
    }

    <div>
        @if (this.User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.LessonId" class="btn btn-warning px-5">Edit</a>
            <span class="px-3"> | </span>
            <a asp-action="Delete" asp-route-id="@Model?.LessonId" class="btn btn-danger px-5">Delete</a>
        }
    </div>
        <hr />
    <div class="mt-5">
        <div class="col-12 d-flex justify-content-between">
            <h4>Lesson Sections</h4>
                <hr />
            @if (this.User.IsInRole("Admin"))
            {
                <div class="mt-1">
                    <a asp-controller="LessonSections" asp-action="Create" asp-route-LessonId="@Model.LessonId" class="secondary-btn px-4 py-2">+ Section</a>
                </div>
            }
        </div>
            <hr />
        <dl class="row">
        @foreach(var lessonSection in Model.LessonSections)
        {
            @if (lessonSection.IsText)
            {
            <dd style="text-align: center;">
                    @Html.DisplayFor(modelItem => lessonSection.Text)
                            <hr />
                </dd>
                
            }
            else if (lessonSection.IsImage)
            {
                <dd style="text-align: center;">
                    <img src="data:image;base64,@Convert.ToBase64String(lessonSection.ImageData)" alt="Lesson Section Image" style="max-width: 500px; max-height: 500px;" />
                            <hr />
                </dd>
            }

            <dd style="text-align: center;">
                @if (this.User.IsInRole("Admin"))
                {
                <a asp-controller="LessonSections" asp-action="Edit" asp-route-id="@lessonSection.LessonSectionId">Edit</a>
                <span> | </span>
                <a asp-controller="LessonSections" asp-action="Details" asp-route-id="@lessonSection.LessonSectionId">Details</a>
                <span> | </span>
                <a asp-controller="LessonSections" asp-action="Delete" asp-route-id="@lessonSection.LessonSectionId">Delete</a>
                }
            </dd>
        }
        </dl>
    </div>
        <hr />

    <div class="min-vh-80 pt-5">
        <div class="slider">
            <input type="radio" name="testimonial" id="t-1" checked>
            <input type="radio" name="testimonial" id="t-2">

            <div class="testimonials">
                <img src="~/css/images/phone-white.png" class="phone" alt="phone">
                <label class="item" for="t-1">
                    <img src="~/css/images/sliderimg1.png" alt="sliderimg1">
                </label>
                <label class="item" for="t-2">
                    <img src="~/css/images/sliderimg2.png" alt="sliderimg2">
                </label>
            </div>
            <br />
            <div class="dots">
                <label for="t-1"></label>
                <label for="t-2"></label>
            </div>
        </div>
    </div>


    <div class="mt-5">
        <div class="col-12 flex-center">
            @if (this.User.IsInRole("Admin"))
            {
                <div class="mt-1">
                    <a asp-controller="Quizzes" asp-action="Index" asp-route-LessonId="@Model.LessonId" class="secondary-btn px-5 py-2">View Quiz</a>
                </div>
            }
            else
            {
                <div class="mt-1">
                    <a asp-controller="Quizzes" asp-action="Index" asp-route-LessonId="@Model.LessonId" class="secondary-btn px-5 py-2">Attempt Quiz</a>
                </div>
            }
        </div>
    </div>

  </div>
</section>
</div>
