@model IEnumerable<DigitalMarketing2.Models.LessonSection>

@{
    ViewData["Title"] = "Index";
}
<section class="lesson-details-page min-vh-100 m-auto py-5 pt-10vh col-white w-80">
    <hr />
<h1>Lesson Section Index</h1>
    <hr />
<p>
    <a asp-action="Create">Create New</a>
</p>
    <table class="table col-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lesson.LessonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonSectionOrder)
            </th>
            <th>Text</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.LessonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonSectionOrder)
            </td>
            @if (item.IsText)
            {
                <td>
                        @Html.DisplayFor(modelItem => item.Text)
                </td>
            }
            else 
            { 
                <td>N/A</td>
            }
            
            @if (item.IsImage)
            {
                <td>
                    <img src="data:image;base64,@Convert.ToBase64String(item.ImageData)" alt="Lesson Section Image" style="max-width: 200px; max-height: 200px;" /></td>
            }
            else
            {
                <td>N/A</td>
            }
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.LessonSectionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LessonSectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LessonSectionId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</section>