@model IList<DigitalMarketing2.Models.QuizQuestionViewModel>

@{
    ViewData["Title"] = "Index";
}

@section Links {
    <link rel="stylesheet" href="~/css/quiz.css" asp-append-version="true" />
}

<section class="quiz-attempt-page min-vh-100 m-auto py-5 pt-10vh col-white w-80">
    <div class="container pt-5">

        <h1>Quiz</h1>

        <form method="post" asp-action="SubmitQuiz">
            <br />
            <div class="row solution_cards_box d-flex flex-wrap gy-4 justify-content-around">
                @{ var modelIndex = 0; }
                @foreach (var question in Model)
                {
                    <div class="solution_card mx-2 my-3 col-sm-12">
                        <div class="hover_color_bubble"></div>

                        <input type="hidden" asp-for="@Model[modelIndex].QuizQuestionId">
                        <input type="hidden" asp-for="@Model[modelIndex].Question">
                        <input type="hidden" asp-for="@Model[modelIndex].LessonId">
                        <input type="hidden" asp-for="@Model[modelIndex].AnswerId">

                        <div class="d-flex justify-content-between">
                            <div class="solu_title">
                                <h3>@Html.DisplayFor(modelItem => question.Question)</h3>
                            </div>
                            <div class="flex-center">
                            </div>
                        </div>

                        <div class="solu_description d-flex flex-column py-2">
                            @{
                                var numOptions = question.Options.Count;
                                var quesOptions = question.Options.ToList();
                            }
                            @for (int i = 0; i < numOptions; i++)
                            {
                                <label class="pt-2 options">
                                    <input type="radio" asp-for="@Model[modelIndex].AttemptedAnswerId" value="@quesOptions[i].QuestionOptionId">
                                    <span class="checkmark">@quesOptions[i].Option</span>
                                </label>
                            }
                            <span asp-validation-for="@Model[modelIndex].AttemptedAnswerId" class="text-danger"></span>
                            @if (this.User.IsInRole("Admin"))
                            {
                                <div class="pt-4 d-flex justify-content-between">
                                    <a asp-action="Edit" asp-route-id="@question.QuizQuestionId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@question.QuizQuestionId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@question.QuizQuestionId">Delete</a>
                                </div>
                            }
                        </div>
                    </div>
                    modelIndex++;
                }
            </div>
            <button type="submit">Submit</button>
        </form>
        <p>
            <br />
            <a asp-controller="Lessons" asp-action="Details" asp-route-id="@Model[0].LessonId">Back To Lesson</a>
        </p>
    </div>
</section>
