@model DigitalMarketing2.Models.QuizFormModel

@{
    ViewData["Title"] = "Edit";
}


<section class="lesson-edit-page min-vh-100 m-auto py-5 pt-10vh col-white w-80">
<div class="container pt-5">
<h1>Edit</h1>

<h4>QuizQuestion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="QuizQuestionId" />
            <input type="hidden" asp-for="LessonId" />
            @*<div class="form-group">
                <label asp-for="LessonId" class="control-label"></label>
                <select asp-for="LessonId" class="form-control" asp-items="@(new SelectList(ViewBag.LessonSelectList,"LessonId","Name"))"></select>
                <span asp-validation-for="LessonId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuizOrder" class="control-label"></label>
                <input asp-for="QuizOrder" class="form-control" />
                <span asp-validation-for="QuizOrder" class="text-danger"></span>
            </div>

            @*options and answer*@
            <div id="question-options">
                <div class="form-group">
                    <label asp-for="QuestionOptions"></label>

                    <div id="options-container">
                        @{
                            var count = Model.QuestionOptions == null ? 2 : Model.QuestionOptions.Count;
                        }
                        @for (int i = 0; i < count; i++)
                        {
                            <div class="input-group">
                                <input type="text" class="form-control option-input" name="QuestionOptions[@i].Option"
                                   asp-for="QuestionOptions[@i].Option" value="@((Model.QuestionOptions == null) ? "" : Model.QuestionOptions[i].Option)" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary remove-option-button">Remove</button>
                                </div>
                            </div>
                        }
                    </div>

                    <button type="button" id="add-option-button" class="btn btn-outline-primary mt-2">Add Option</button>
                    <span asp-validation-for="QuestionOptions" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AnswerId"></label>
                    <select class="form-control" asp-for="AnswerId" name="AnswerId" id="answer-dropdown">
                        <option value="">-- Select Answer --</option>
                        @if (Model.QuestionOptions != null)
                        {
                            for (int i = 0; i < Model.QuestionOptions.Count; i++)
                            {
                                var option = Model.QuestionOptions[i];

                                if (Model.Answer != null && option.QuestionOptionId == Model.Answer.QuestionOptionId) {
                                    <option value="@i" selected>@option.Option</option>
                                } else {
                                    <option value="@i">@option.Option</option>
                                }
                            }
                        }
                    </select>
                    <span asp-validation-for="AnswerId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-LessonId="@Model.LessonId">Back to List</a>
</div>

</div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/quiz.js" asp-append-version="true"></script>
}
