@model IEnumerable<DigitalMarketing2.Models.QuizQuestion>

@{
    ViewData["Title"] = "Index";
}


<section class="quiz-edit-page min-vh-100 m-auto py-5 pt-10vh col-white w-80">
<div class="container pt-5">

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-LessonId="@Model.First().Lesson.LessonId">Create New</a>
</p>
<table class="table col-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lesson.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                Number of Options
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.NumOptions)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Answer.Option)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuizOrder)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuizQuestionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuizQuestionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuizQuestionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>
</section>